.img-dog {
	float: left;
    width: 49px;
    height: auto;
    -webkit-border-radius: 30px; /* Saf3+, Chrome */
    border-radius: 60px; /* Opera 10.5, IE 9 */
    border: 2px solid #F5F5F5;
    margin-right: 10px;
}